
      <h1 class="titulo"> Hello,{{ title }} esta ejecutandose componente App-Root
             y sera una gran aplicación. </h1>

      <p style="color:yellow;background-color: gray;">{{texto}}.Yo soy constante</p>
      
    
<h3 style="text-align: center;">Llamado del componente app-empleados dentro de app.componente.html</h3>
<app-empleados></app-empleados>
      <br>

<p style="text-align: center;">Llamando desde app.componente.html</p>
<app-empleado></app-empleado>


<br>



                  